#logoapp
  display flex
  //flex-direction row
  //min-height 100vh
  &>section
    flex-grow 1
    color black
    display: flex
    align-items center

    #preview
      max-height 100vh
      width 480px
      margin 0 auto
      //background white
      display: flex
      flex-direction column
      overflow auto

      .createdLogoWrapper
        position relative
        .save-bar
          position absolute
          top 10px
          right 10px
          z-index 1000
          &>button
            border: none
            background-color: black
            padding: 5px
            color: white
          &>a
            display none;

        .bg-drop
          position: absolute
          top: 5px
          bottom: 5px
          left: 5px
          right: 5px
          overflow hidden
          z-index 9

          &.whiteBG
            background-color #ffffff;

          &.blackBG
            background-color #000000;

          &.transBG
            background-image:
                    -moz-linear-gradient(45deg, rgba(60,60,60,0.2) 25%, transparent 25%),
                    -moz-linear-gradient(-45deg, rgba(60,60,60,0.2) 25%, transparent 25%),
                    -moz-linear-gradient(45deg, transparent 75%, rgba(60,60,60,0.2) 75%),
                    -moz-linear-gradient(-45deg, transparent 75%, rgba(60,60,60,0.2) 75%);
            background-image:
                    -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, rgba(60,60,60,0.2)), color-stop(.25, transparent)),
                    -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, rgba(60,60,60,0.2)), color-stop(.25, transparent)),
                    -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.75, transparent), color-stop(.75, rgba(60,60,60,0.2))),
                    -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.75, transparent), color-stop(.75, rgba(60,60,60,0.2)));

            -moz-background-size:10px 10px;
            background-size:10px 10px;
            -webkit-background-size:10px 10px; /* override value for shitty webkit */
            background-position:0 0, 5px 0, 5px -5px, 0px 5px;

        .createdLogo
          position relative
          z-index 20
          width auto
          margin: 7px 3px
          padding 9px 0
          display flex
          align-items center
          justify-content center
          transition 200ms all ease-in-out


    #workbench
      height 100vh
      margin : 0 15px

      p
        color black

      ul.thepager
        list-style none
        margin 10px auto 20px
        padding 0
        text-align center
        li
          display inline-block
          padding 0 12px
          a
            font-weight 100
            font-size 2rem
            color black
            text-decoration none
            &.active
              color primary
      .toolbox
        width 450px
        padding 5px 3px
        margin 0 auto
        overflow auto
        max-height 90%
        position absolute

        &>div
          background-color white
          padding 10px 15px
          margin 12px 0

          h2 ,h3
            margin 4px 0
            padding 0
            color primary

  .navbar
    width 150px
    height 100vh
    display: flex
    justify-content space-between
    flex-direction column
    margin-bottom 0
    header
      //flex-grow 1
      .logo
        margin 6px auto
        width: 92px
        height: 92px
        background-image url('../images/timer.png')
        background-size cover

    footer
      padding: 0 6px
      margin 0 auto
      text-align center
      display: flex
      flex-direction column
      align-content space-between
      justify-content space-between
      span
        display block
      .created
        padding 50px 0

.scroller
  white-space: pre-line;
  max-height: 180px;
  overflow-y: hidden;
  position: relative;


.attention
  margin-top: 12px
  color darken(yellow,25) !important
  &>.fa
    color yellow
    margin-right 8px

.social-buttons
  display flex
  align-content space-between
  justify-content space-around
  &> a
    display block
    color background
    padding: 3px 5px
    background-color primary
    &:hover
      text-decoration none
    i
      font-size 1.4rem
      padding: 0 3px