div
    h2 You Are Awesome
    p.attention
        i.fa.fa-warning
        | Please consider attributions for Creative Commons icons you may used from TheNounProject, this is small payback for awesome creators that motivate them to provide more free stuff.

    p Almost there, click the download icon in the logo box to download it

    p
        | This is quick DoIt project by myself, 100% free I wrote an article about this project
        a(href='' target="_blank") here.
        | This project is for developers who looking for quick logo for their small projects or side project, and users who want quick logo, Perfect logo design is huge process that requires professional designer, I do advise you to refer to professional designers in order to make perfect logo for your business.

    p
        | If you liked it, please share it and upvote on ProductHunt.
    div.social-buttons
        a(href='https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Faigdonia.me%2F5minlogo%2F&amp;src=sdkpreparse' target="_blank")
            i.fa.fa-facebook
            | Tell Friends
        a
            i.fa.fa-product-hunt
            | Upvote us.
        a(href='https://twitter.com/intent/tweet?text=I%27ve%20just%20created%20my%20logo%20with&url=http://aigdonia.me/5minlogo/' target="_blank")
            i.fa.fa-twitter
            | Tweet about it.