div
    h2
        | Pick Icon <small>(only Public Domain)</small>
        small.attribution
            a(href='https://thenounproject.com/', target='_blank') TheNounProject
    .uploader
        label(for="icon-uploader")
            i.fa.fa-upload
            | Upload Icon
        input(id="icon-uploader" type='file' onchange="angular.element(this).scope().iconUploaded(this)")

div(ng-if='icons.length>0')
    perfect-scrollbar.scroller.shape-selector.icon-selector(wheel-propagation="true" wheel-speed="1" min-scrollbar-length="10")
        ul.select
            li.shape-item(ng-repeat="icon in icons", ng-class="{'picked':(weight.style === logo.font.weight)}", ng-click="ctrl.setFontWeight(weight)")
                img.icon-preview(src="{{icon.src}}")


div
    h2 Icon Shape
    perfect-scrollbar.scroller.shape-selector(wheel-propagation="true" wheel-speed="1" min-scrollbar-length="10")
        ul.select
            li.shape-item(ng-repeat="shape in ctrl.iconShape", ng-class="{'picked':(shape === logo.icon.shape)}", ng-click="ctrl.setIconShape(shape)")
                span(class='{{shape}}') {{shape}}
div
    h2 Icon Style
    perfect-scrollbar.scroller(wheel-propagation="true" wheel-speed="1" min-scrollbar-length="10")
        ul.select
            li(ng-repeat="style in ctrl.iconStyle", ng-class="{'picked':(style.style === logo.icon.style)}", ng-click="ctrl.setIconStyle(style)")
                span {{style.name}}