div
    h2 Font Weight
    perfect-scrollbar.scroller(wheel-propagation="true" wheel-speed="1" min-scrollbar-length="10")
        ul.select
            li(ng-repeat="weight in ctrl.weight", ng-class="{'picked':(weight.style === logo.font.weight)}", ng-click="ctrl.setFontWeight(weight)")
                span(ng-class='weight.style') {{weight.name}}

div
    h2 Letter Case
    perfect-scrollbar.scroller(wheel-propagation="true" wheel-speed="1" min-scrollbar-length="10")
        ul.select
            li(ng-repeat="style in ctrl.styles", ng-class="{'picked':(style.style === logo.font.style)}", ng-click="ctrl.setFontStyle(style)")
                span(ng-class='style.style') {{style.name}}
