// primary palette
primary_dark = #309EFF
primary_light = #85DBFF

// secondry pallette
secondry_dark = #FFB554
secondry_light = #FAEE6C

primary = #a68a73
background = #f3f3f3

// white and black
black = #333535
white = #ffffff

primary_button = darkgrey = darken(white,50)
grey = darken(white, 40)
lightgrey = #D8D8D8

// pallette
red = #f48182
yellow = secondry_dark
yellow_inactive = lighten(yellow, 17)
blue = #2eccfc
